!!!
%html{:lang => 'ja'}
  %head
    %meta(charset='utf-8')
    %title komagata.org
    %link{:href => 'style.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
  %body
    %h1 <a href="/">komagata.org</a>
    = yield
